# Project 3

# Introduction 
- This data was collected from twitter using twint tool, collected based on specific keywords about STC service in Saudi Arabia from 2015-2021. This data contains over 10K tweet cleaned and pre-processed.

# Datatset Link

[STC Reviews](https://www.kaggle.com/samaher133/tweets-for-stc-service)

# Imorting

In [ ]:
################################################################################
# INSTALL CONDA ON GOOGLE COLAB
################################################################################
! wget https://repo.anaconda.com/miniconda/Miniconda3-py37_4.8.2-Linux-x86_64.sh
! chmod +x Miniconda3-py37_4.8.2-Linux-x86_64.sh
! bash ./Miniconda3-py37_4.8.2-Linux-x86_64.sh -b -f -p /usr/local
import sys
sys.path.append('/usr/local/lib/python3.7/site-packages/')

################################################################################

! pip install twint 
! conda install -c-forge nest-asyncio -y
! pip install idna-ssl

In [ ]:
import pandas as pd

###  upgrading the twint library

In [ ]:
! pip3 install --upgrade -e git+https://github.com/twintproject/twint.git@origin/master#egg=twint

In [ ]:
! pip3 install --upgrade aiohttp_socks

In [1]:
import twint
import nest_asyncio
nest_asyncio.apply()

- The first dataset based on the **keyword** (ماي اس تي سي) and also based on spesicfic date 2015 until jan of 2021

In [ ]:
c = twint.Config()
c.Search ='ماي اس تي سي'

#num of tweets
# c.Limit = 4000

#languge 
c.Lang='ar'


# Date 
c.Since = "2015-01-01 00:30:15"
c.Until = '2021-01-26 18:03:00'



# creating in a dataframe
c.Pandas=True
mystc_1 =  twint.storage.panda.Tweets_df
twint.run.Search(c)

In [14]:
mystc_1.shape

(5416, 38)

- save data on csv file on google drive

In [17]:
mystc_1.to_csv('mystc_1.csv')
! cp mystc_1.csv 'drive/My Drive/'

In [18]:
import pandas as pd
df1 = pd.read_csv("/content/drive/My Drive/mystc_1.csv",lineterminator='\n')

- choose specific features

In [20]:
df1=df1[['id','created_at',	'date' ,'tweet' ,'user_id' ,'name','retweet'	,'nlikes',	'nreplies',	'nretweets']]

<html>
</br>
</br>
</html>

- The third dataset based on the **keyword** ( خدمة اس تي سي) and also based on spesicfic date 2020 until jan of 2021

In [ ]:
c = twint.Config()
c.Search = 'خدمة اس تي سي'

#num of tweets
# c.Limit = 4000

#languge 
c.Lang='ar'


# Date 
c.Since = "2015-01-01 00:30:15"
c.Until = '2021-01-26 18:03:00'



# creating in a dataframe
c.Pandas=True
stc_service_ver3 =  twint.storage.panda.Tweets_df
twint.run.Search(c)

In [23]:
stc_service_ver3.shape

(5415, 38)

- save data on csv file on google drive

In [25]:
stc_service_ver3.to_csv('stc_service_tweet_ver3.csv')
! cp stc_service_tweet_ver3.csv 'drive/My Drive/'

In [26]:
import pandas as pd
df3 = pd.read_csv("/content/drive/My Drive/stc_service_tweet_ver3.csv",lineterminator='\n')

- choose specific features

In [28]:
df3 = df3[['id','created_at',	'date' ,'tweet' ,'user_id' ,'name','retweet'	,'nlikes',	'nreplies',	'nretweets'	]]

In [36]:
df1.shape , df3.shape

((5416, 10), (5415, 10))



<html>
</br>
</br>
</html>

Concat the tow datasets of reviews

In [218]:
import pandas as pd
stc = [df1, df3]
stc_info = pd.concat(stc)

In [219]:
stc_info.shape

(10831, 10)

In [220]:
stc_info.to_csv('stc_info_result11.csv')
! cp stc_info_result11.csv 'drive/My Drive/'

In [1]:
import pandas as pd
stc_all_tweets = pd.read_csv("/content/drive/My Drive/stc_info_result11.csv",lineterminator='\n' )
stc_all_tweets.drop('Unnamed: 0' , axis=1 , inplace=True)

In [34]:
stc_all_tweets.head()

                    id  ...                                             tweet4
0  1353913978834051073  ...  سحبتو مني مبلغ لشحن رصيد طريق ماي اس سي تواصلت...
1  1353709940901371904  ...  اذا رقمك شغال وعندك نسخه واتس اب السحابه بالوا...
2  1353470988319653888  ...  اشتراك stc للمنصه روح ل stc واسالهم طريقته الا...
3  1353426146621235201  ...  شوي وأحد يمنشني الله يسعدكم شكلي الليله مداوم ...
4  1353417040816713729  ...                 اقدر اطلع بدل فاقد تطبيق ماي اس سي

[5 rows x 10 columns]

### Check null values

In [4]:
stc_all_tweets.isna().sum()

id            0
created_at    0
date          0
tweet         0
user_id       0
name          2
retweet       0
nlikes        0
nreplies      0
nretweets     0
dtype: int64

In [5]:
stc_all_tweets.dropna(inplace=True)

### Cleaning Data

In [6]:
import re
# Removing mention 
stc_all_tweets['tweet']= stc_all_tweets['tweet'].apply(lambda x: re.sub("@\S+", " " , x)) 
# Removing hashtags 
stc_all_tweets['tweet']= stc_all_tweets['tweet'].apply(lambda x: re.sub("#\S+", " ", x)) 
# Removing special charachter 
stc_all_tweets['tweet']= stc_all_tweets['tweet'].apply(lambda x: re.sub(r'[؟|؟؟|?|$|.|!]',r'',x)) 
#Remove urls 
stc_all_tweets['tweet']= stc_all_tweets['tweet'].apply(lambda x:re.sub("https*\S+", " ", x)) 
#Remove over spaces 
stc_all_tweets['tweet']= stc_all_tweets['tweet'].apply(lambda x:re.sub('\s{2,}', " ", x)) 
# Remove 
stc_all_tweets['tweet']= stc_all_tweets['tweet'].apply(lambda x:re.sub(r'\w*\d+\w*', '', x))

In [8]:
stc_all_tweets

                        id    created_at  ... nreplies nretweets
0      1353913978834051073  1.611633e+12  ...        1         0
1      1353709940901371904  1.611585e+12  ...        2         0
2      1353470988319653888  1.611528e+12  ...        1         0
3      1353426146621235201  1.611517e+12  ...        1         0
4      1353417040816713729  1.611515e+12  ...        1         0
...                    ...           ...  ...      ...       ...
10826   551460881625014274  1.420313e+12  ...        0         0
10827   551446748250787840  1.420310e+12  ...        0         0
10828   551446022434877440  1.420310e+12  ...        0         0
10829   550948181543227392  1.420191e+12  ...        0         0
10830   550854981461737472  1.420169e+12  ...        0         0

[10829 rows x 10 columns]

### Preprocessing Data

In [9]:
import nltk 
from nltk import word_tokenize
from nltk.corpus import  stopwords
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
stc_all_tweets['tweet2'] = stc_all_tweets['tweet'].apply(nltk.word_tokenize)

In [11]:
sw= stopwords.words('arabic')

In [12]:
stc_all_tweets['tweet3'] = stc_all_tweets['tweet2'].apply(lambda x:[i for i in x if i not in sw])

In [13]:
stc_all_tweets['tweet4']= stc_all_tweets['tweet3'].apply(lambda x: ' '.join([i for i in x]))

In [14]:
stc_all_tweets.drop(['tweet2' , 'tweet3'] , axis=1 , inplace=True )

In [15]:
stc_all_tweets.drop('tweet' ,axis=1 , inplace=True )

In [16]:
stc_all_tweets.head() # tweet4 after removing stopwords

                    id  ...                                             tweet4
0  1353913978834051073  ...  سحبتو مني مبلغ لشحن رصيد طريق ماي اس سي تواصلت...
1  1353709940901371904  ...  اذا رقمك شغال وعندك نسخه واتس اب السحابه بالوا...
2  1353470988319653888  ...  اشتراك stc للمنصه روح ل stc واسالهم طريقته الا...
3  1353426146621235201  ...  شوي وأحد يمنشني الله يسعدكم شكلي الليله مداوم ...
4  1353417040816713729  ...                 اقدر اطلع بدل فاقد تطبيق ماي اس سي

[5 rows x 10 columns]

### Removing all accounts that dose not related to our goal

In [17]:
clean=['صحيفة','صحيفه' ,'اخبار', 'أخبار', 'قناة', 'قناه' , 'عاجل' ,'جريده', 'جريدة' ,'هام' ,'زيادة','متابعين']

#### Searching for the accounts in our dataframe

In [ ]:
val=[]
for i  in  stc_all_tweets.name:
  print(i.index)
  for j in clean:
     if j in i: 
       o=getIndexes(stc_all_tweets,i)
       val.append(o)

#### Function to get the index of the value

In [19]:
def getIndexes(dfObj, value):
    ''' Get index positions of value in dataframe i.e. dfObj.'''
    listOfPos = list()
    # Get bool dataframe with True at positions where the given value exists
    result = dfObj.isin([value])
    # Get list of columns that contains the value
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)
    # Iterate over list of columns and fetch the rows indexes where value exists
    for col in columnNames:
        rows = list(result[col][result[col] == True].index)
        for row in rows:
            listOfPos.append((row, col))
    # Return a list of tuples indicating the positions of value in the dataframe
    return listOfPos

#### Shape after removing the accounts

In [ ]:
#(10831, 10)

#### Removing rows

In [ ]:
for i in range(len(val)):
  value=val[i][0][0]
  try:
     stc_all_tweets.drop( value , inplace=True ) 
  except:
    print('not deleted' , value)

#### Shape before removing the accounts

In [25]:
stc_all_tweets.shape

(10826, 10)

In [26]:
stc_all_tweets

                        id  ...                                             tweet4
0      1353913978834051073  ...  سحبتو مني مبلغ لشحن رصيد طريق ماي اس سي تواصلت...
1      1353709940901371904  ...  اذا رقمك شغال وعندك نسخه واتس اب السحابه بالوا...
2      1353470988319653888  ...  اشتراك stc للمنصه روح ل stc واسالهم طريقته الا...
3      1353426146621235201  ...  شوي وأحد يمنشني الله يسعدكم شكلي الليله مداوم ...
4      1353417040816713729  ...                 اقدر اطلع بدل فاقد تطبيق ماي اس سي
...                    ...  ...                                                ...
10826   551460881625014274  ...  مرحبا بإمكانك الاطلاع كمية البيانات المتبقيه ا...
10827   551446748250787840  ...  مرحبا لمعرفة عروض مسبق الدفع ارجو الإطلاع تطبي...
10828   551446022434877440  ...  مرحبا لمعرفة عروض مسبق الدفع ارجو الإطلاع تطبي...
10829   550948181543227392  ...  اهلا وسهلا , , , بامكانك الاطلاع تفاصيل الباقة...
10830   550854981461737472  ...  يمكنك معرفة المتبقي اشتراكك خلال موقع الجوال ن...

[10826 rows x 10 columns]

In [30]:
stc_all_tweets.to_csv('stc_tweets_after_final_cleaning_ver5.csv')
! cp stc_tweets_after_final_cleaning_ver5.csv 'drive/My Drive/'

In [31]:
stc_tweet= pd.read_csv("/content/drive/My Drive/stc_tweets_after_final_cleaning_ver5.csv",lineterminator='\n' )

In [32]:
stc_tweet.drop('Unnamed: 0' , axis=1 , inplace=True)
stc_tweet.head()

                    id  ...                                             tweet4
0  1353913978834051073  ...  سحبتو مني مبلغ لشحن رصيد طريق ماي اس سي تواصلت...
1  1353709940901371904  ...  اذا رقمك شغال وعندك نسخه واتس اب السحابه بالوا...
2  1353470988319653888  ...  اشتراك stc للمنصه روح ل stc واسالهم طريقته الا...
3  1353426146621235201  ...  شوي وأحد يمنشني الله يسعدكم شكلي الليله مداوم ...
4  1353417040816713729  ...                 اقدر اطلع بدل فاقد تطبيق ماي اس سي

[5 rows x 10 columns]

In [33]:
stc_tweet.shape

(10826, 10)

<html>
</br></br></br>
</html>

# summary
- I tryied to leable the data using blob text but it dose not work I think it need traslation to english and then we can leable them. And there is many tools to lable them but it consuming time I did not have much time to do that.